/* 
Reset
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Debug
*/

.debug footer {
  background-color: lightblue;
}

/*
Container
*/

body {
  background-color: #000000;
  color: white;
}

/*
Typo
*/

/*
Common
*/

ul.list-inline {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.list-inline li {
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 5px;
  line-height: 100%;
}

.list-inline li:last-of-type {
  margin-right: 5px;
}

.rotate {
  transform: rotate(45deg);
}

/*
Header
*/

header {
  height: 40px;
}

/*
Main
*/

main {
  height: calc(100vh - 110px);
}

.users-container {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
}

.users-container .user {
  position: relative;
  width: 250px;
  height: 150px;
  background-color: lightgreen;
}

.users-container .user .user-name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
Footer
*/

footer {
  height: 70px;
}

/*
Scrollbar invisibile
*/

.users-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.users-container {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}