/* 
Reset
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Debug
*/

.debug header,
.debug footer {
  background-color: lightblue;
}

.debug main {
  background-color: lightcoral;
}

/*
Container
*/

body {
  background-color: #000000;
}

/*
Typo
*/

/*
Common
*/

/*
Header
*/

header {
  height: 40px;
}

/*
Main
*/

main {
  height: calc(100vh - 110px);
}

/*
Footer
*/

footer {
  height: 70px;
}