/* 
Reset
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Container
*/

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px;
}

/*
Common
*/

header,
main,
footer {
  left: 0;
  right: 0;
}

ul.list-inline {
  list-style-type: none;
  display: flex;
}

.rotate {
  transform: rotate(45deg);
}

/*
Header
*/

header {
  height: 40px;
  position: fixed;
  top: 0;
}

header .list-inline {
  justify-content: flex-end;
}

header .list-inline li {
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

/*
Main
*/

main {
  position: fixed;
  height: calc(100vh - 180px);
}

.users-container {
  width: 95vw;
  margin: 80px auto 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px 10px;
  overflow: auto;
}

.users-container .user {
  position: relative;
  width: 250px;
  height: 150px;
}

.users-container .user .user-name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
Footer
*/

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  background-color: #222222;
}

footer .list-inline {
  background-color: #222222;
  align-items: center;
}

footer .user-options > *,
footer .call-options > * {
  padding: 0 10px;
}

footer .list-inline i {
  font-size: 25px;
}

footer .list-inline i.more-options {
  font-size: 12px;
}

footer .list-inline div > div {
  margin-top: 5px;
}

footer .green {
  color: #4bc800;
}

footer .end-meeting {
  display: flex;
  align-items: center;
  background-color: #4a4a4a;
  color: red;
  padding: 0 20px;
}

/*
Scrollbar invisibile
*/

.users-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.users-container {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}